man/pipeline/F1pipline.json
{
	"name": "F1pipline",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.fileList",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Source",
									"type": "DatasetReference",
									"parameters": {
										"fileName": "@item().fileName"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Sink",
									"type": "DatasetReference",
									"parameters": {
										"targetFileName": "@item().targetFileName"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Json1",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"fileList": {
				"type": "array",
				"defaultValue": [
					{
						"fileName": "circuits.csv",
						"targetFileName": "raw/circuits.csv"
					},
					{
						"fileName": "drivers.csv",
						"targetFileName": "raw/drivers.csv"
					},
					{
						"fileName": "lap_times.csv",
						"targetFileName": "raw/lap_times.csv"
					},
					{
						"fileName": "pit_stops.csv",
						"targetFileName": "raw/pit_stops.csv"
					},
					{
						"fileName": "constructors.csv",
						"targetFileName": "raw/constructors.csv"
					},
					{
						"fileName": "results.csv",
						"targetFileName": "raw/results.csv"
					},
					{
						"fileName": "qualifying.csv",
						"targetFileName": "raw/qualifying.csv"
					},
					{
						"fileName": "races.csv",
						"targetFileName": "raw/races.csv"
					}
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-11-12T05:00:35Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}